@mixin flex($dir: column) {
  display: flex;
  flex-direction: $dir;
  justify-content: center;
  align-items: center;
}

$mp: 30px;

.dropzone {
  border: 2px dashed #E1E1E1;
  border-radius: 10px;
  margin: $mp;
  padding: $mp;
}

.dropzone-text {
  @include flex();
}

.flex {
  @include flex();
}

.row {
  flex-direction: row;
}

.wrapper {
  margin: $mp;
}

.between {
  justify-content: space-between;
}

.center {
  @include flex();
  text-align: center;
}