.container { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropzone {
  border: 2px dashed #E1E1E1;
  border-radius: 10px;
  margin: 30px;
  padding: 30px;
}

.dropzone-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}