* {
  font-family: Poppins-Medium;
}

$m: 12px;

@mixin flex($dir: column, $ai: flex-start, $jc: space-between) {
  display: flex;
  flex-direction: $dir;
  justify-content: $jc;
  align-items: $ai;
}

.dropdown {
  @include flex(row);
  background-color: #f9f9f9;
  transition: all 0.35s ease-in-out;
  max-height: 0;
  overflow: hidden;
  flex-wrap: wrap;
}

.dropdown_active {
  max-height: 100vh;
  padding: 30px 40px;
}

.bar {
  @include flex(row, center);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
  padding: 5px 30px;
  transition: filter 0.25s ease-in-out;
  
  &:hover {
    filter: contrast(135%) brightness(110%);
  }
}

.row {
  @include flex(row, center);
}

h3 {
  margin: $m;
}