.headerCont {
  width: 100vw;
  height: 120px;
  align-items: center;
  box-sizing: border-box;
  padding: 30px;
  justify-content: space-between;
  flex-direction: row;
  display: flex;
}

.logo {
  font-family: Quicksand-Bold;
  font-size: 24pt;
  color: #31c1ff;
  letter-spacing: -2px;
}
