.button {
  font-family: Poppins-SemiBold;
  box-sizing: border-box;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: filter 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
    filter: brightness(112%);
  }
}
