.cardWrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  transition: filter 0.2s ease-in-out;
  &:hover {
    filter: brightness(85%);
  }
}

.card {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 10px 19px 0px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 0px 10px 19px 0px rgba(0, 0, 0, 0.27);
  box-shadow: 0px 10px 19px 0px rgba(0, 0, 0, 0.27);
  margin-bottom: 12px;
}

.titleText {
  font-family: Poppins-SemiBold;
  font-size: 12pt;
  margin: 0;
}

.dimText {
  font-family: Poppins-Medium;
  font-size: 8pt;
  margin: 0;
}

.cardCont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
}

.statusImg {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 1;
}

.statusTxt {
  font-family: Poppins-SemiBold;
}
