.dimNumTxt {
  font-family: Poppins-Light;
}

.resultsCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1041px;
  height: 270px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  box-sizing: border-box;
  padding: 40px;
}

.copyInput {
  width: 339px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: #f4f4f4;
  box-sizing: border-box;
  padding-left: 5px;
  font-family: Poppins-Light;
}

.rightCardSection {
  height: 200px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
