// this is where you import scss files from your comps ex: @import './comps/Menu/menu.scss
@import "./comps/Button/button.scss";
@import "./comps/Menu/menu.scss";
@import "./comps/Header/header.scss";
@import "./comps/Card/Card.scss";
@import "./comps/CardWrapper/cardwrapper.scss";
@import "./comps/Footer/footer.scss";
@import "./comps//ResultsCard/resultsCard.scss";
@import "./comps/PlansCard/plansCard.scss";
@import "./comps/PlanDetails/planDetails.scss";
@import "./comps/AddonsCard/addonsCard.scss";
@import "./comps/StepsBar/stepsBar.scss";
@import "./screens/Home/Home.scss";

@font-face {
  font-family: Poppins-SemiBold;
  src: url(./assets/fonts/Poppins-SemiBold.otf);
}

@font-face {
  font-family: Poppins-Medium;
  src: url(./assets/fonts/Poppins-Medium.otf);
}

@font-face {
  font-family: Poppins-Regular;
  src: url(./assets/fonts/Poppins-Regular.otf);
}

@font-face {
  font-family: Quicksand-Bold;
  src: url(./assets/fonts/Quicksand-Bold.otf);
}

@font-face {
  font-family: Poppins-Light;
  src: url(./assets/fonts/Poppins-Light.otf);
}

p {
  margin: 0;
}
