// this is where you import scss files from your comps ex: @import './comps/Menu/menu.scss
@import "./comps/Button/button.scss";
@import "./comps//Menu/menu.scss";
@import "./comps/Header/header.scss";
@import "./comps/Card/Card.scss";
@import "./comps/CardWrapper/cardwrapper.scss";
@import "./comps/Footer/footer.scss";

@font-face {
  font-family: Poppins-SemiBold;
  src: url(Poppins-SemiBold.otf);
}

@font-face {
  font-family: Poppins-Medium;
  src: url(Poppins-Medium.otf);
}

@font-face {
  font-family: Poppins-Regular;
  src: url(Poppins-Regular.otf);
}

@font-face {
  font-family: Quicksand-Bold;
  src: url(Quicksand-Bold.otf);
}
